<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Love Fumo!</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <header>
        <nav>

        </nav>
        <div id="banner">
            <h1>Welcome To FumoLand!</h1>
        </div>
    </header>

    <main>
        

    <h1>{{ message }}</h1>


        <section id="OOTD">
            <h2>offer of the day!</h2>
            <!--<p>{{Fumo_title}}</p>

            <a href="{{Fumo_link}}" target="_blank">
                <img src="{{Fumo_picture}}" alt="Fumo Auction Picture">
            </a>
            <table>
            <tr>
                <td>-->
                <h2 id="price">{{Fumo_price}}</h2>
                </td>
                <td>
                
                </td>
            </tr>
            </table>
            <input type="number" name="userprice" id="price2"><br>
            <div id="currency">
                <span id="pricenum"></span>
                <span id="currency-text"></span>
            </div>
            
            <input type="radio" name="radio" id="USD">USD<br>
            <input type="radio" name="radio" id="EUR">EUR<br>
            <input type="radio" name="radio" id="PLN">PLN<br>
            <input type="radio" name="radio" id="CAD">CAD<br>
            <input type="radio" name="radio" id="JPY">JPY<br>
            <button type="submit" onclick="changeCurrency()">change currency</button>
            
            <section id ="invisibl">
                <h2 id="usd">{{cur1}}</h2>
                <h2 id="eur">{{cur2}}</h2>
                <h2 id="pln">{{cur3}}</h2>
                <h2 id="cad">{{cur4}}</h2>
                <h2 id="jpy">{{cur5}}</h2>
            </section>
            
            <script>
                function changeCurrency() {
                    var currency = document.querySelector('input[name="radio"]:checked').id;
                    var amount2 = parseInt(document.getElementById("price2").value);
                    var dollar = parseFloat(document.getElementById("usd").textContent);
                    var curtext = parseFloat(document.getElementById("currency-text").textContent);
                    var euro = parseFloat(document.getElementById("eur").textContent);
                    var pln = parseFloat(document.getElementById("pln").textContent);
                    var cad = parseFloat(document.getElementById("cad").textContent);
                    var jpy = parseFloat(document.getElementById("jpy").textContent);
            
                    switch (currency) {
                        case 'USD':
                            amount2 = amount2 * dollar;
                            curtext = "USD"
                            break;
                        case 'EUR':
                            amount2 = amount2 * euro;
                            curtext = "EUR"
                            break;
                        case 'PLN':
                            amount2 = amount2 * pln;
                            curtext = "PLN"
                            break;
                        case 'CAD':
                            amount2 = amount2 * cad;
                            curtext = "CAD"
                            break;
                        case 'JPY':
                            amount2 = amount2 * jpy;
                            curtext = "JPY"
                            break;
                    }
            
                    document.getElementById("pricenum").innerHTML = amount2.toFixed(2);
                    document.getElementById("currency-text").innerHTML =curtext
                }
            
            </script>
            </section>
                        <a href="/collection">your fumo collection!</a>
            <section id="collection">
                <h2>Featured Fumo Collection</h2>

    </main>

    <div id="footer">
        <div id="Resources">
            <h3>Resources</h3>
            <table>

                <tr>
                    <td><a href="https://fumo.website/">Fumo guide!</a></td>
                    <td><a href="https://www.amiami.com/eng/search/list/?s_keywords=fumofumo">Fumo's Official Store</a>
                    </td>
                    <td></td>
                </tr>
            </table>


        </div>

        <p>Page designed and moderated by Fumo3</p>


    </div>
</body>
<style>
    * {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
}

header {
background-color: #b31e1e;
padding: 20px 0;
}

#banner h1 {
text-align: center;
}

nav {
/* Navigation styles */
}

main {
padding: 20px;
}

#OOTD, #collection, #about {
margin-bottom: 20px;
}

#footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px 0;
position:absolute;
bottom:0;
width: 100%;
}

</style>
</html>
<!--
# 3. Dream Fumo Collection:
#    - Create an interactive section where users can compile a list of their top 5 dream Fumo plushies.
#    - Users can mark plushies they own and save their dream list.

-->
