<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Love Fumo!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>

        </nav> 
        <div id="banner">
            <h1>Welcome To FumoLand!</h1>
        </div>
    </header>   
    
    <main>
        <section id="OOTD">
            <h2>offer of the day!</h2>
            <p>{{Fumo_title}}</p>
            
            <a href="{{Fumo_link}}" target="_blank">
                <img src="{{Fumo_picture}}" alt="Fumo Auction Picture">
            </a>
        </section>
        
        <section id="collection">
            <h2>Featured Fumo Collection</h2>

</main>

<div id="footer">
    <p>Page designed and moderated by Fumo3</p>


</div>

</body>
</html>