<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Love Fumo!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>

        </nav> 
        <div id="banner">
            <h1>Welcome To FumoLand!</h1>
        </div>
    </header>   
    
    <main>
        <section id="OOTD">
            <h2>offer of the day!</h2>
            <p>{{Fumo_title}}</p>
            
            <a href="{{Fumo_link}}" target="_blank">
                <img src="{{Fumo_picture}}" alt="Fumo Auction Picture">
            </a>
            <h2 id="price">{{Fumo_price}}</h2>
            
            
            <select id="currencySelect" onchange="updateCurrency()">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="PLN">PLN</option>
                <option value="JPY">JPY</option>
                <option value="CAD">CAD</option>
            </select>
            
            <script>
             
             </script>
        </section>
        
        <section id="collection">
            <h2>Featured Fumo Collection</h2>

</main>

<div id="footer">
    <div id="Resources">
            <h3>Resources</h3>
            <table>
                
                <tr>
                    <td><a href ="https://fumo.website/">Fumo guide!</a></td>
                    <td><a href = "https://www.amiami.com/eng/search/list/?s_keywords=fumofumo">Fumo's Official Store</a></td>
                    <td></td>
                </tr>
            </table>
            

    </div>

    <p>Page designed and moderated by Fumo3</p>


</div>

</body>
</html>
<!--
# 1. External Links Section:
#    - Include links to important Fumo-related resources, fan sites, and official pages.
#    - Could be displayed in a sidebar or dedicated "Resources" section.
-->